@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Lato", Calibri, sans-serif;
  overflow-x: hidden;
  
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
  width: auto;
  background-color: rgba(255, 166, 0, 0.699);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: black;
  font-weight: bold;
}

.nav-items{
  padding: 0 10px 0;
  width: auto;
}


.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 15px 10px 0 0;
  font-size: large;
  cursor: pointer;
}

/* Body CSS */
.search-container {
  margin: 20px auto;
  text-align: center;
  max-width: 100%;
  position: relative;
} 

.search-container .search-input {
  width: 35%;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 15px 14px 20px;
  border: 1px solid #aabcca;
  
  color: var(--text-color);
}

.search-container .search-btn {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--dark-orange);
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #302c2c;
  padding: 14px 17px;
  cursor: pointer;
  border: 1px solid black;  
}

.logo{
  width: 55px;
  margin-left: 10px;
}

.restaurant-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: stretch;  
}

.card{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  overflow: hidden;
  width: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  height: 360px;
}

.allitems{
  margin-left: 10px;
  margin-top: 5px;
}

.shimmer-card {
      width: 200px;
      height: 200px;
      background: lightgrey;
      margin: 20px;
  }

.card:hover {
  transform: scale(1.05);
}
.card > span > h4 {
  font-size: 14px;
  margin-bottom: 10px;
}

.card >img{
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.menu{
  display: flex;
  justify-content: space-around;
  width: auto;
  align-items: center;
}


.left{
  margin-top: 40px;
  margin-left: 10%;
  width: 60%;
}

.right{
  margin-left: -8%;
  margin-top: 60px;
  width: 40%;
}

.left >img{
  border-radius: 20%;
  width: 60%;
}

.listitems{
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 50%;
}

h3 {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

