* {
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
  width: auto;
  background-color: rgba(255, 166, 0, 0.699);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: black;
  font-weight: bold;
}

.nav-items{
  padding: 0 10px 0;
  width: auto;
}


.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 15px 10px 0 0;
  font-size: large;
  cursor: pointer;
}